@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap");

body {
  font-family: "Raleway", sans-serif;
  background-color: #011c2b;
}

.Nav_Bar {
  width: 100%;
  height: fit-content;
  min-height: 60px;
  border-bottom: 1px solid rgb(255, 255, 255);
  padding: 0 36px;
  background: linear-gradient(to left, #0acde9, #0045ff);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.Menu_Nav {
  width: 10%;
  min-width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Fin de NavBar 1 y Principio de NavBar2*/

.NavBar_2 {
  width: 100%;
  height: fit-content;
  display: flex;
  background-color: #009bff;
}

.Menu_Nav2 {
  width: 508px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.Item_container_Nav2 {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.button_nav li {
  list-style: none;
}

.button_nav a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.button_nav a:hover {
  background-color: #0067ff;
}
/* Fin de NavBar2*/

/* Principio del Body*/

.Main_cointainer {
  /* COntiene todo el Body*/
  width: 70%;
  margin: 0 auto;
  padding: 15px 5px;
}

.Title {
  color: white;
  text-align: center;
  padding-block: 25px 10px;
}

.separador {
  border-radius: 25px;
  background: #ff9f00;
  height: 5px;
  border-radius: 50px;
  width: 90%;
  margin: 0 auto;
}

.Content_Cointainer {
  margin: 0 auto;  padding:25px 15px 25px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.1);
  overflow:hidden;
  clip-path: polygon(
      0% 0px,                 /* top left */
      20px 0%,                 /* top left */
      calc(100% - 50px) 0%,    /* top right */
      100% 30px,               /* top right */
      100% calc(100% - 0px),  /* bottom right */
      calc(100% - 0px) 100%,  /* bottom right */
      50px 100%,               /* bottom left */
      0 calc(100% - 30px)      /* bottom left */
    )
}

.search-container {
  padding-block: 40px 13px;
}

.search {
  position: relative;
  width: 45%;
  min-width: 250px;
  height: fit-content;
}
.round {
  width: 100%;
  border-radius: 10px;
  border: 1px solid white;
  padding-block: 8px 8px;
  padding-inline-start: 15px;
}

.corner_image {
  position: absolute;
  top: 8px;
  right: 5px;
  border-radius: 10px;
  border: none;
  width: 10px;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("/Icons/Search.svg");
  background-repeat: no-repeat;
}
/*  Fin del Area del Titulo */

.Just_Article_Section {
  width: 70%;
  height: fit-content;
}

.Article_Container {
  width: 95%;
  margin-bottom: 25px;
  height: 50%;
  min-height: 200px;
}

.Article_IMG {
  background-color: white;
  height: 150px;
  object-fit: contain;
  overflow:hidden;
  clip-path: polygon(
    0% 0px,                 /* top left */
    20px 0%,                 /* top left */
    calc(100% - 50px) 0%,    /* top right */
    100% 30px,               /* top right */
    100% calc(100% - 0px),  /* bottom right */
    calc(100% - 0px) 100%,  /* bottom right */
    50px 100%,               /* bottom left */
    0 calc(100% - 30px)      /* bottom left */
  )
}

.Article_TEXT {
  height: 40%;
  color: white;
  padding-top: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.text_item {
  padding-top: 5px;
}

.SideBar {
  width: 30%;
}

.SideBar_Text {
  font-weight: bold;
  color: #ff9f00;
  text-align: center;
  margin-bottom: 5px;
}

.Top-list {
  color: white;
  font-weight: bold;
}

.SideBar article {
  padding-bottom: 25px;
}

/* Fin Body   */

/*  Footer   */

.footer {
  padding: 30px 30px 20px 30px;
  background-color: #009bff;
  border-top: 1px solid #e5e5e5;
}

.cointainer_footer {
  width: 95%;
  height: fit-content;
  margin: 0 auto;
}

.A {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Name_Slogan {
  color: white;
}

.Menu_Nav_f {
  display: flex;
  flex-direction: row;
}

.nav__items_f {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  padding: 5px 5px;
}

.legal {
  padding-top: 10px;
  display: flex;
  color: rgb(95, 95, 95);
}

/* Campeones */

.Just_Champions_Section{
  width:95%;
  padding-top:30px;
  display: flex;
  flex-wrap: wrap;
  margin:0 auto;
  justify-content: space-between;
}

.Champion_Container{
  width:30%;
  min-width:180px;
  padding-bottom:30px;
}

.Champion_IMG {
  height:250px;
  background-color: white;
  object-fit: contain;
  overflow:hidden;
  clip-path: polygon(
    0% 50px,                 /* top left */
    80px 0%,                 /* top left */
    calc(100% - 0px) 0%,    /* top right */
    100% 0px,               /* top right */
    100% calc(100% - 0px),  /* bottom right */
    calc(100% - 0px) 100%,  /* bottom right */
    0px 100%,               /* bottom left */
    0 calc(100% - 0px)      /* bottom left */
  )
}
.Champ_Name{
  background-color:purple;
  color:white;
  display: flex;
  align-items: center;
  justify-content: center;
  height:10%;
}



/* Fin de Campeones */

/* Responsiveness */
@media only screen and (max-width: 600px) {
  .Menu_Nav {
    display: none;
  }

  .NavBar_2 {
    display: none;
  }

  .SideBar {
    display: none;
  }
.Just_Article_Section {
  width: 100%;
}

.Main_cointainer {
  /* COntiene todo el Body*/
  width: 90%;

}

@media only screen and (min-width: 600px) {
  .SideMenu {
    display: none;
  }
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

label .menu {
  z-index: 100;
  width: 50px;
  height: 50px;
  border-radius: 50% 50% 50% 50%;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff;
  cursor: pointer;
}

label .hamburger {
  /* rayiya de medio de iconito de hamburguesa y aqui se define la ubicacion */
  position: absolute;
  top: 30px;
  right: 20px;
  width: 30px;
  height: 3px;
  background-color:white;
  display: block;
  border-radius: 1px;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

label .hamburger:after,
label .hamburger:before {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 1px;
}

label .hamburger:before {
  top: -10px;
}

label .hamburger:after {
  bottom: -10px;
}

label input {
  display: none;
}

label input:checked + .menu {
  box-shadow: 0 0 0 100vw #fff, 0 0 0 100vh #fff;
  border-radius: 0;
}

label input:checked + .menu .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

label input:checked + .menu .hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;
}

label input:checked + .menu .hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
}

label input:checked + .menu + ul {
  opacity: 1;
}

label ul {
  z-index: 200;
  position: absolute;
  top: 23.5%;
  left: 10%;

  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: 0.25s 0s ease-in-out;
  transition: 0.25s 0s ease-in-out;
  background-color: #009bff;
  list-style: none;
}

label li {
  padding: 5px;
}

label a {
  margin-bottom: 1em;
  display: block;
  color: white;
  text-decoration: none;
}